.dash-segment:not(.dash-segment-award) .segment-content {
    border-radius: 3px;
    padding: 15px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
    background-color: hsl(0, 0%, 97%);
    transition: all 0.5s;
}
.dash-segment:not(.dash-segment-award) [class="segment-content"]:hover {
    box-shadow: 2px 4px 5px rgba(0,0,0,0.6);
    background-color: hsl(0, 0%, 100%);
}

a.friend_man {
    border-radius: 1px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.5s;
}

a.friend_man:hover {
    border-radius: 1px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.display_name, h2 {
    color: #36628B;
    text-transform: uppercase;
}
