#timeline_holder {
    .plurk {
        /* Posts Avatar */
        .p_img {
            margin-right: 5px;
            box-shadow: 1px 1px 4px opacify($segment-shadow, 0.2);
        }

        /* Posts Box */
        .plurk_cnt {
            border-radius: 5px;
            background-color: $dim-bg;
            box-shadow: 2px 4px 5px $segment-shadow;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: lighten($dim-bg, 5%);
                box-shadow: 2px 4px 5px opacify($segment-shadow, 0.2);
            }

            /* Posts Buttons*/
            .manager {
                opacity: 0.2;
                transition: opacity 0.2s ease-out;

                &:hover {
                    opacity: 1;
                }
            }
        }


    }

    .plurk.display.plurk_box {
        width: 230%;
    }
}

.response_box {
    .plurk {
        border-left: solid 2px lighten($main-color, 20%);
    }
}
