$main-color: #36628B;
$dim-bg: hsl(0, 0%, 97%);
$segment-shadow: rgba(0,0,0,0.16);
$other-shadow: rgba(0,0,0,0.19);
$transition: all 0.3s cubic-bezier(.25,.8,.25,1);

@import "./src/global";
@import "./src/timeline";
@import "./src/dashboard";
