$main-color: #36628B;
$dim-bg: hsl(0, 0%, 97%);
$segment-shadow: rgba(0,0,0,0.16);
$other-shadow: rgba(0,0,0,0.19);
$transition: all 0.3s cubic-bezier(.25,.8,.25,1);

@mixin block($shadow-color, $transition-enabled: true) {
    border-radius: 1px;
    box-shadow: 1px 1px 3px $shadow-color;

    @if $transition-enabled {
        transition: $transition;
        &:hover {
            border-radius: 1px;
            box-shadow: 1px 1px 3px opacify($shadow-color, 0.2);
        }
    }    
}

@import "./src/global";
@import "./src/timeline";
@import "./src/dashboard";
